table{
    width: 80%;
    border-collapse: collapse;

}
th,td{
    border: 1px solid black;
    padding: 10px;

}
.errorlist{
    color: red;
    list-style: auto;
    padding: 0;
}
.error{
    color: red;
}
.success{
    color: green;
}